/* CSS for rounding corners as well as colors and spacing */
.number {
  color: rgba(255, 255, 255, 0.9);
  margin: 0.75rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 8%;
  height: 4rem;
  padding: auto, 0, auto, 0;
  text-align: center;
  backdrop-filter: blur(5.5px);
  border: solid 2px transparent;
  background-clip: padding-box;
  font-weight: bold;
  box-shadow: 0px 10px 10px 10px rgba(46, 54, 68, 0.9);
  font-family: "Poppins";
}
/* Body background image*/
body {
  background-image: url("abstract.jpg");
  background-color: black;
}
/* CSS for rounding corners as well as colors and spacing */
.header {
  color: rgba(255, 255, 255, 1);
  margin: 0.75rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  height: 6rem;
  padding: auto, 0, auto, 0;
  text-align: center;
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  font-weight: bold;
  box-shadow: 0px 10px 10px 10px rgba(46, 54, 68, 50);
  font-family: "Poppins";
  text-align: center;
  width: 25%;
  justify-content: center;
  margin: auto;
}
