/* CSS for rounding corners as well as colors and spacing */
.number {
  margin: 0.75rem;
  border-radius: 25px;
  background: rgba(255, 166, 0, 0.5);
  padding: 20px;
  width: 7rem;
  height: 4rem;
  padding: auto, 0, auto, 0;
  text-align: center;
  color: rgb(68, 68, 68);
}
/* Coloring for background */
body {
  background-color: rgb(68, 68, 68);
}
